<div class="container">
  <div class="nav">
    <div class="header">
      <img class="logo" src='./assets/Monero.svg'/>
      <p class="title">{{title}}</p>
    </div>
    <ul *ngFor='let menuItem of menu; let i=index'>
      <li class="topLevel">
        <div class="titleContainer">
          <img class="icon" src={{menuItem.img}}/>
          <p class="menuTitle">{{menuItem.title}}</p>
          <button class="btn" (click)="openChildren(i)" *ngIf='!togglers[i]'><img class="icon" src='./assets/caret-right.svg'/></button>          
          <button class="btn" (click)="openChildren(i)" *ngIf='togglers[i]'><img class="icon" src='./assets/caret-down.svg'/></button>
          <!-- <button class="btn" (click)="openChildren(i)"></button> -->
          <!-- <img (click)="openChildren(i)" class="img"  src='./assets/angle-down.svg'/> -->
        </div>
        <div class="childContainer" *ngIf="togglers[i]">
          <ul class="children" *ngFor='let child of menuItem.children' >
            <li class="child"><p>{{child}}</p></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>


<!-- <i style='fill:white; height: 20px; width: 20px;' class="fas fa-caret-{{togglers[i] ? 'down' : 'right'}}"></i> -->